USE [master]
GO
/****** Object:  Database [TP06]    Script Date: 10/9/2026 09:02:53 ******/
CREATE DATABASE [TP06]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP06].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP06]
GO
/****** Object:  User [alumno]    Script Date: 10/9/2026 09:02:53 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 10/9/2026 09:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[JugadorId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[salaActual] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[JugadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 10/9/2026 09:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[SalaId] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Salas] PRIMARY KEY CLUSTERED 
(
	[SalaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([JugadorId], [NombreUsuario], [Contraseña], [Estado], [salaActual]) VALUES (31, N'mijail', N'1234', N'En progreso', N'1')
INSERT [dbo].[Jugadores] ([JugadorId], [NombreUsuario], [Contraseña], [Estado], [salaActual]) VALUES (33, N'aceitunas', N'1234', N'En progreso', N'1')
INSERT [dbo].[Jugadores] ([JugadorId], [NombreUsuario], [Contraseña], [Estado], [salaActual]) VALUES (35, N'frituras', N'a', N'En progreso', N'1')
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
USE [master]
GO
